/* GENERAL */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */

header {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 1em 2em;
}

/* INPUT */

.yearForm {
  padding: 2em;
  text-align: center;
  position: relative;
}

.rangeLabel {
  position: absolute;
}

#rangeLabelStart {
  top: 3.5em;
  left: 2em;
}

#rangeLabelEnd {
  top: 3.5em;
  right: 2em;
}

#yearInput {
  width: 100%;
}

/* EVENTS */

.events {
  max-width: 1000px;
  margin: auto;
  padding: 2em;
}

.year {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.year p:first-child {
  margin: 0;
}

.wikiLink {
  font-size: 1rem;
  font-weight: normal;
}

.pair {
  display: flex;
  margin: 4em 0;
  gap: 2em;
}

.pair > p {
  width: 100%;
  margin: 0;
  text-align: center;
}

.event {
  width: 50%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.05);
  padding: 2em;
}

.headings {
  text-transform: lowercase;
  font-variant: small-caps;
  display: inline-block;
  margin-right: 0.5em;
  font-weight: bold;
  color: #757575;
}

.heading:not(:last-of-type)::after {
  content: " — ";
}

/* FOOTER */

footer {
  padding: 1em 2em;
  text-align: center;
}