body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 100px auto;
  text-align: center;
}

#yearInput {
  width: 100%;
}

.events {
  max-width: 1000px;
  margin: auto;
}

.events > p {
  text-align: center;
}

.year {
  font-size: 2em;
  font-weight: bold;
}

.pair {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4em 0;
  gap: 2em;
}