body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 100px auto;
  text-align: center;
}

#yearInput {
  width: 100%;
}

.events {
  max-width: 1000px;
  margin: auto;
}

.events > p {
  text-align: center;
}

.year {
  font-size: 2em;
  font-weight: bold;
}

.pair {
  display: flex;
  margin: 4em 0;
  gap: 2em;
}

.pair > p {
  width: 100%;
  margin: 0;
  text-align: center;
}

.event {
  width: 50%;
}

.headings {
  text-transform: lowercase;
  font-variant: small-caps;
  display: inline-block;
  margin-right: 0.5em;
  font-weight: bold;
  color: #757575;
}

.heading:not(:last-of-type)::after {
  content: " — ";
}