html
  head
    title Horizontal History
  body
    p Enter a non-zero year (positive for AD/CE, negative for BC/BCE).

    form
      input(type="number" name="yearInput" id="nameInput")
      button(type="submit" id="submitBtn") Generate
    
    div#events
      div.event
      div.event

    script(src="/js/scripts.js")